<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Docsafe Test Task</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
        <link rel="stylesheet" href="{{ asset('front-app/css/angular-material.css') }}">
        <link rel="stylesheet" href="{{ asset('front-app/css/styles.css') }}">
    </head>
    <body ng-app="test-app" layout="column" layout-fill>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('front-app/manifest.js') }}"></script>
        <script src="{{ asset('front-app/vendor.js') }}"></script>
        <script src="{{ asset('front-app/js/app.js') }}"></script>
        <script src="{{ asset('front-app/js/services.js') }}"></script>
        <script src="{{ asset('front-app/js/controllers.js') }}"></script>
        {% endblock %}
    </body>
</html>
